// GENERAL STYLE RULES
.page-title-text {
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    // color: rgb(1,92,171);
    margin-bottom: 0px;
    margin-top: 0px;
}
.page-title-text h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: x-large;
    color: grey;
    font-weight: normal;
}
// .page-title {
//     display: none;
// }
img.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
a:has(img.center-img) { // correct <a> tags wrapping .center-img
    display: contents;
}
em.caption { // for image captions
    display: block;
    text-align: center;
    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
}
a.bold {
    font-weight: bold;
    color: #4fb1ba;
}
p.bold {
    font-weight: bold;
    margin-bottom: 0px;
}

// SIDE BAR STYLE
#typewriter_text {
    font-size: 1.2em;
    color: #ffffffeb;
}
a::after { // replace the need for the no-mark-external class
    display:none;
}
#_swipe {
    opacity: 80% !important;
    -moz-opacity: 80%;
    -webkit-opacity: 80%;
}

// ABOUT PAGE STYLE
img[alt=Headshot] {
    width: 135px;
    height: auto;
    border-radius: 50%;
    position: relative;
    /* right: 25%; */
    top: -45px;
    margin-bottom: -60px;
}
@media screen and (max-width: 1375px) {
    img[alt=Headshot] {
        width: 110px;
        top: -25px;
    }
}
@media screen and (max-width: 672px) {
    img[alt=Headshot] {
        width: 100px;
        top: -23px;
    }
}
@media screen and (max-width: 400px) {
    img[alt=Headshot] {
        width: 80px;
        top: -20px;
    }
}
@media screen and (max-width: 325px) {
    img[alt=Headshot] {
        width: 65px;
        top: -16px;
        right: 0%;
    }
}
.h1 h1 {
    // color: rgb(1,92,171);
    margin-bottom: 0px;
    margin-top: 0px;
}
.h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100% !important;
}
.h1 p {
    margin-bottom: 0px;
}
.info-section {
    display: flex;
}
.info-section ul {
    -moz-column-count: 2;
    -moz-column-gap: 10%;
    -webkit-column-count: 2;
    -webkit-column-gap: 10%;
    column-count: 1;
    column-gap: 10%;
    list-style: none;
}
.info-section li {
    display: flex;
    margin-bottom: 15px;
}
.info-section div:has(img) {
    margin-right: 20px;
}
@media screen and (min-width: 750px) {
    .info-section ul {
        column-count: 2;
    }
}
.info-section img {
    width: 25px;
    height: auto;
    max-width: none;
}
#contact-heading h1 {
    font-size: 0.65em;
    color: black;
    margin-bottom: 20px;
}
footer p:nth-child(3) {
    display: none;
}
footer {
    margin-bottom: 0px;
}
#breadcrumbs {
    display: none;
}
article header {
    // display: none;
}

// CV PAGE STYLE
.cv-pdf-container {
    margin-bottom: 35px;
    margin-top: 25px;
}
.cv-container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 220%;
    margin-bottom: 50%;
}
.cv-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 118.5%;
}
.pdf-section img {
    width: 25px;
    height: auto;
    max-width: none;
}
.cv-pdf {
    width: 100%;
    height: 800px;
}
#cv-updated {
    margin-top: 0px;
}
#cv-updated a {
    display: none;
}

// PROJECTS SECTION STYLE
// Copyright (c) 2019 Florian Klampfer <https://qwtel.com/>
main:not(.layout-resume) {
    $gutter: 1rem;
    .columns {
      margin-left: -$gutter;
      display: flex;
      flex-wrap: wrap;
      contain: content;
      padding-top: 1rem;
      margin-top: 1rem;
      padding-right: 1rem;
      margin-right: -1rem;
  
      &::after {
        @extend .clearfix;
      }
    }
    .column {
      float: left;
      padding-left: $gutter;
      margin-bottom: 2rem;
      width: 100%;
      display: flex;
    }
    @media screen and (min-width: $break-point-1) {
      .columns {
        margin-left: -1rem - $gutter;
        margin-right: -2rem;
      }
      .column-1-2 { width: 50%; }
    }
    @media screen and (min-width: $break-point-dynamic) {
        .columns-break {
            $helper: $content-width-5 / 2 - $content-margin-5 + ($gutter * 2);
            width: calc(50vw + #{$helper});
            > .column-1-2,
            > .column-1 {
                width: ($content-width-5 / 2) + ($gutter / 2);
            }
        }
    }
    @media print {
        .columns {
            display: block;
        }
        .column {
            display: block;
            width: 50%;
        }
    }
    .project-card {
        @extend .color-transition;
        width: 100%;
        color: var(--gray-text);
        background-color: var(--gray-bg);
        padding-bottom: 1rem;
        position: relative;
        overflow: hidden;
        box-shadow: .125rem .125rem 1rem rgba(0, 0, 0, 0.2);
        contain: content;
        border-radius: $border-radius;
        page-break-inside: avoid;
        transition: transform 500ms ease;
        will-change: transform;
        &:hover {
            transform: translateY(-0.25rem);
            transition: transform 250ms ease;
        }
        > a.flip-project {
            display: block;
            .project-card-img {
                margin-bottom: 0;
                img {
                    display: block;
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }
            }
        }
        a {
            position: relative;
            z-index: 1;
            &.fill-card {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
            }
        }
        > .project-card-title, > .project-card-text {
            text-align: center;
            padding: 0 1rem;
        }
        > .project-card-title {
            display: block;
            font-size: 1.08rem;
            margin-top: .75rem;
            margin-bottom: .25rem;
            color: inherit;
        }
  
        > .project-card-text {
            margin: .25rem 0;
        }
    }
    .column-1 > .project-card {
        > .project-card-title {
            font-size: 1.2rem;
        }
  
        > .project-card-text {
            font-size: 1rem;
        }
    }
}
  